.welcome-area {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.right_area {
    padding: 60px;
}

.forgot-pswd {
    color: #0167eb;
    font-family: Gilroy;
    font-size: 14px;
    cursor: pointer;
}

.ant-form-vertical .ant-form-item-label {
    padding: 0;
}

.sign_in {
    font-size: 25px;
    color: #2a2727;
    padding: 15px 0px;
    span {
        font-weight: bold;
        color: #0167eb;
        font-family: Gilroy;
        letter-spacing: 0.5px;
    }
}

.welcome_img {
    img {
        min-height: 100vh;
        height: 100%;
        width: 100%;
    }
}
.logo_area {
    text-align: right;
    img {
        width: 160px;
        height: 40px;
    }
}

.rc-anchor-light.rc-anchor-normal,
#rc-anchor-container,
.rc-anchor-light {
    border: 1px solid #e1dbdc !important;
    background: #f7fdff !important;
}

.first_time {
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
    color: #2a2727;
    span {
        font-family: Gilroy;
        color: #0167eb;
        cursor: pointer;
    }
}

.tellUs {
    font-size: 18px;
    font-weight: 500;
    // font-weight: bold;
    span {
        font-family: Gilroy;
        color: #0167eb;
    }
}

.ant-radio-group {
    margin: 10px 0px 15px 0px !important;
}

.ant-radio-wrapper {
    font-weight: 500;
    color: #2a2727;
}
