.verify_back {
    max-height: 100vh;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.center_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 100vw;
    width: 500px;
    padding: 10px;
    // box-shadow: 2px 2px 20px 5px rgba(41, 50, 66, 0.075);
    .header {
        background: linear-gradient(180deg, #1ec8ff 0%, #0062ef 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        img {
            width: 200px;
            height: 40px;
        }
    }
    .body {
        background-color: white;
        text-align: center;
        padding: 20px;
        .head {
            color: #0167eb;
            font-size: 20px;
            font-weight: 500;
            font-family: Gilroy;
            margin: 15px;
            letter-spacing: 0.5px;
        }
        .content {
            margin: 15px;
            font-size: 13px;
            color: #555f67;
        }
        .btn_area {
            margin: 20px;
            display: flex;
            justify-content: space-around;
        }
    }
}
