@font-face {
    font-family: "Gilroy";
    src: url(./assets/Fonts/Gilroy-Medium/Gilroy-Medium.ttf);
}

.ant-input,
.ant-input-password,
input {
    border: none;
    border-bottom: 1px solid #d8d8d8;
    color: #2a2727;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 0;
}

.ant-input-password:focus,
.ant-input:focus,
.ant-input:hover,
.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper {
    border-color: #d8d8d8;
    box-shadow: none;
}

input:focus {
    outline: none;
}

.ant-form-item-label {
    label {
        font-size: 13px;
        color: #2a2727;
        opacity: 0.5;
        font-family: Gilroy;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 22px;
    }
}

.forgot-pswd {
    color: #0167eb;
    font-family: Gilroy;
    font-size: 16px;
}

#rc-anchor-container,
.rc-anchor-light {
    border: 1px solid #e1dbdc !important;
    background: #f7fdff !important;
}

.ant-btn:hover,
.ant-btn:focus {
    background: linear-gradient(180deg, #1ec8ff 0%, #0062ef 100%);
    // background: linear-gradient(180deg, #ea4757 0%, #8c2528 100%);
}
.k_btn {
    width: 100%;
    background: linear-gradient(180deg, #1ec8ff 0%, #0062ef 100%);
    // background: linear-gradient(180deg, #ea4757 0%, #8c2528 100%);
    border-radius: 36px;
    font-weight: bold;
    letter-spacing: 0;
    height: 40px;
    font-family: Gilroy;

    span {
        padding: 0px 20px;
        color: #ffffff;
        font-size: 13px;
        letter-spacing: 0.3px;
        font-weight: 500;
        font-family: Gilroy;
    }
}

.mt-5 {
    margin-top: 5px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
